* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* important */
.wrapper > * {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.wrapper {
  min-height: 80vh;
  display: grid;
  gap: 5px;
  /* grid-template-columns: 1fr 2fr 1fr; */
  grid-template-areas:
    "header header header"
    "title title title"
    "banner banner bb1"
    "banner banner bb2"
    "side-menu main main"
    "tags main main"
    "recently main main"
    "footer footer footer";
}

.title {
  background-color: lightblue;
  grid-area: title;
}

.header {
  background-color: lightcoral;
  grid-area: header;
}

.banner {
  background: radial-gradient(
    rgb(223, 131, 131),
    rgb(148, 148, 240),
    rgb(105, 216, 105)
  );
  min-height: 20vh;
  grid-area: banner;
}

.bb1 {
  background-color: rgb(112, 216, 250);
  /* grid-column-start: 2;
  grid-column-end: 4; */
  /* grid-column: 3/4;
  grid-row: 3/5; */
  grid-area: bb1;
}

.bb2 {
  background-color: rgb(33, 118, 146);
  grid-area: bb2;
}

.side-menu {
  background-color: yellow;
  grid-area: side-menu;
}

.tags {
  background-color: orange;
  grid-area: tags;
}

.recently {
  background-color: rgb(57, 57, 240);
  grid-area: recently;
}

/* liner-gradient */
.main {
  min-height: 50vh;
  background: linear-gradient(
    to right,
    rgb(121, 121, 240),
    rgb(77, 197, 77),
    rgb(233, 233, 135),
    rgb(236, 150, 150)
  );
  grid-area: main;
}

.footer {
  background-color: rgb(1, 3, 3);
  color: white;
  grid-area: footer;
}

/* higher goes first */

@media (max-width: 768px) {
  .wrapper {
    grid-template-areas:
      "header header"
      "title title"
      "banner banner"
      "bb1 bb2"
      "side-menu side-menu"
      "main main"
      "tags recently"
      "footer footer";
  }
}

@media (max-width: 500px) {
  .wrapper {
    grid-template-areas:
      "header"
      "title"
      "banner"
      "bb1"
      "bb2"
      "side-menu"
      "tags"
      "recently"
      "main"
      "footer";
  }
}
